# Core FastAPI Server
fastapi
uvicorn

# Environment & Konfigurasi
python-dotenv
pydantic-settings

# Pembacaan Data & Pra-pemrosesan (BM25L)
pandas
openpyxl
nltk
Sastrawi
numpy

# Serialisasi Model Cache (untuk BM25L)
dill

# Koneksi ke Layanan AI (Versi Final)
openai
pinecone-client
tiktoken